@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --azul-escuro: #1B3A5C;
    --azul-claro: #496987;
    --branco: #FFFFFF;
    --cinza: #F5F5F5;
    --borda: #D9D9D9;
}

.dashboard {
    padding-top: 25px;
    min-height: calc(100vh - 108px);
}