@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

:root {
    --azul-escuro: #1B3A5C;
    --branco: #FDFFFF;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side {
    background-color: var(--azul-escuro);
    color: var(--branco);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side {
    background-color: var(--branco);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}